@font-face {
    font-family: Cera-light;
    src: url(../fonts/CeraPro-Light.ttf);
    font-style: normal;
}

@font-face {
    font-family: Cera-regular;
    src: url(../fonts/CeraPro-Regular.ttf);
    font-style: normal;
}

@font-face {
    font-family: Cera-bold;
    src: url(../fonts/CeraPro-Bold.ttf);
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

*:focus {
    outline: none;
}

button:hover {
    cursor: pointer;
}

.ag-header-cell-label {
    justify-content: center;
    text-align: center !important;
}

.grid-cell-centered {
    text-align: center;
}

.ag-theme-balham {
    --ag-header-foreground-color: white;
    --ag-header-background-color: #2A569A;
    --ag-background-color: white;
    --ag-odd-row-background-color: #CCE5FF;

}

.ag-cell-focus,.ag-cell-no-focus{
    border:none !important;
  }
  /* This CSS is to not apply the border for the column having 'no-border' class */
  .no-border.ag-cell:focus{
    border:none !important;
    outline: none;
  }

html {
    height: calc(100% - 4px);
}

body {
    height: calc(100%);
    font-family: Cera-regular;
}

.header {
    border: solid #2A569A;
    border-radius: 5px;
    height: 85px;
    margin: 2px 2px 0px 2px;
}

.header-conteiner {
    padding: 3px 9px 3px 9px;
    display: flex;
    justify-content: space-between;
}

.header-information {
    display: flex;
}

.system-condition {
    margin-top: 3px;
    margin-bottom: 10px;
    background-image: url(../svg/status-wait-for-cow.svg);
    width: 72px;
    height: 72px;
    background-repeat: no-repeat;
    background-size: 72px;
    background-position: center;
    image-rendering: pixelated;
}

.cow-amount {
    display: flex;
}

.cow-count {
    background-image: url(../svg/cow-id.svg);
    margin-top: 5px;
    margin-right: 15px;
    margin-left: 19px;
    width: 70px;
    height: 70px;
    background-repeat: no-repeat;
    background-size: 70px 60px;
    background-position: center;
    image-rendering: pixelated;
}

.cow-count-value {
    letter-spacing: 1px;
    margin-top: 22px;
    font-size: 35px;
}

.header-icon {
    display: block;
}

.milk-control {
    margin-left: 29px;
    display: flex;
    flex-direction: row;
}

.milk-amount {
    background-image: url(../svg/milk-amount.svg);
    margin-top: 15px;
    background-size: 29px;
    width: 50px;
    height: 50px;
    margin-left: 1px;
    background-repeat: no-repeat;
    background-position: center;
}

.milk-indication {
    margin-top: 23px;
    font-size: 35px;
}

.timer {
    display: flex;
    margin-left: 40px;
}

.timer-icon {
    background-image: url(../svg/timer.svg);
    margin-top: 19px;
    background-size: 39px 40px;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 7px;
    image-rendering: pixelated;
}

.timer-count {
    margin-top: 23px;
    margin-left: 3px;
    font-size: 35px;
}

.logo-icon {
    display: block;
    width: 170px;
    height: 65px;
    background-repeat: no-repeat;
    background-size: 170px 65px;
    background-position: center;
    background-image: url(../images/logo.png);
}

.monitor {
    width: 100%;
    display: flex;
    height: calc(100% - 84px);
}

.main {
    margin: 0px 4px 0px 2px;
    width: calc(100% - 82px);
    border-radius: 4px;
}

.tabs {
    height: 100%;
}

.tab_bar {
    margin-top: -1px;
    display: flex;
    justify-content: space-between;
}

.tab__navigation {
    display: flex;
    align-items: center;
    position: relative;
}

.tab {
    border-radius: 5px 5px 0 0;
    cursor: pointer;
    background-color: #2a569a;
    position: relative;
    border-width: 2px 2px 0;
    text-align: center;
    display: block;
    width: 90px;
    height: 87px;
    background-repeat: no-repeat;
    background-size: 50px;
    background-position: center;
    border: solid #2A569A;
    top: 3px;
}

.tab:not(:last-child) {
    margin-right: 4px;
}

.home {
    margin-right: 4px;
}

.info {
    margin-right: 4px;
}

.control {
    margin-right: 4px;
}

.tab_active {
    background-color: white;
    background-size: contain;
    background-position: 50% 50%;
    background-origin: content-box;
}

.tab_active:after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
    height: 5px;
    background: #FFF;
}

.home-page {
    background-image: url(../svg/tab-home-page-white.svg);
    padding-right: 4px;
    padding-left: 4px;
    padding-top: 3px;
    image-rendering: -webkit-optimize-contrast;
}

.tab__navigation .home .tab_active {
    background-image: url(../svg/tab-home-page-blue.svg);
}


.info-page {
    background-image: url(../svg/tab-statistic-page-white.svg);
    padding: 1px;
    padding-top: 2px;
    padding-bottom: 0px;
}

.tab__navigation .info .tab_active {
    background-image: url(../svg/tab-statistic-page-blue.svg);
}

.control-page {
    background-image: url(../svg/tab-control-page-white.svg);
    padding: 8px;
    padding-top: 9px;
    padding-bottom: 6px;
}

.tab__navigation .control .tab_active {
    background-image: url(../svg/tab-control-page-blue.svg);
}

.setting-page {
    background-image: url(../svg/tab-setting-page-white.svg);
    padding: 8px;
    padding-top: 10px;
    padding-bottom: 7px;
    padding-right: 9px;
}

.tab__navigation .setting .tab_active {
    background-image: url(../svg/tab-setting-page-blue.svg);
}

.clock-bar {
    display: flex;
    justify-content: space-between;
    margin-right: 44px;
}

.clock-icon {
    background-image: url(../svg/clock.svg);
    background-size: 40px;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    margin-top: 21px;
    margin-right: 18px;
    image-rendering: pixelated;
}

.time {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 20px;
    font-size: 35px;
    width: 100px;
}

.tab__content {
    border: solid #2A569A;
    height: calc(100% - 87px);
    border-radius: 0 10px 10px 10px;
    display: none;
    padding-top: 1px;
    padding-left: 2px;
    padding-right: 3px;
    padding-bottom: 5px;
}

.tab__content_active {
    display: block;
}

.untabs {
    display: flex;
    height: calc(100% + 2px);
}

.untab__navigation {
    align-items: center;
    display: block;
}

.untab {
    position: relative;
    margin-top: 2px;
    background-origin: padding-box;
    padding: 10px;
    border-radius: 5px 0 0 5px;
    cursor: pointer;
    background-color: #2a569a;
    border-width: 2px 0 2px 2px;
    text-align: center;
    display: block;
    width: 85px;
    height: 80px;
    background-repeat: no-repeat;
    background-size: 32px;
    background-position: center;
    border: solid #2A569A;
}

.untab:not(:last-child) {
    margin-bottom: 4px;
}

.yield {
    margin-bottom: 4px;
}

.clean-stat {
    margin-bottom: 4px;
}

.milk-yield-statistics {
    background-size: 34px;
    background-image: url(../svg/tab-milk-yield-statistics-white.svg);
    image-rendering: pixelated;
    padding: 7px;
    padding-left: 8px;
    padding-right: 6px;
    background-size: 35px;
}

.untab__navigation .yield .untab_active {
    background-image: url(../svg/tab-milk-yield-statistics-blue.svg);
}

.cleaning-statistics {
    background-image: url(../svg/tap-cleaning-white.svg);
    background-position: 50% 50%;
    padding: 7px;
    padding-left: 9px;
    padding-right: 7px;
    background-size: 35px;
}

.untab__navigation .clean-stat .untab_active {
    background-image: url(../svg/tap-cleaning-blue.svg);
}

.alarm-statistics {
    background-image: url(../svg/alarm-white.svg);
    image-rendering: pixelated;
    background-position: 50% 50%;
    padding: 7px;
    padding-left: 8px;
    padding-right: 6px;
    background-size: 35px;
}

.untab__navigation .alarm-stat .untab_active {
    background-image: url(../svg/alarm-blue.svg);
}

.untab__content {
    margin-top: 2px;
    box-sizing: content-box;
    overflow: hidden;
    border: solid #2A569A;
    border-radius: 0 7px 7px 7px;
    display: none;
    width: 100%;
    margin-left: -3px;
}

.side-bar-button,
.button {
    display: block;
    width: 75px;
    height: 75px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    border: solid #2A569A;
    border-radius: 5px;
    margin-left: 1px;
    transition: 0.3s;
}

.side-bar-button, .sumpler-button {
    border-top: solid 2px #2A569A;
    border-bottom: solid 2px #2A569A;
    box-shadow: 0px 1px #b8b8b8, 0px -1px #b8b8b8;
    height: 74px;
}

.milk-filter {
    background-image: url(../svg/filter.svg);
    position: absolute;
    bottom: 27px;
    right: 115px;
    z-index: 2;
    image-rendering: pixelated;
    background-size: 60px;
}

.untab_active:after {
    position: absolute;
    content: '';
    top: 0;
    right: -3px;
    bottom: 0;
    width: 4px;
    background: #FFF;
    z-index: 1;
}

.untab__content_active {
    display: block;
}

.new-alarm {
    display: flex;
    align-items: flex-end;
}

.list-of-alarm {
    display: flex;
    align-items: flex-end;
    height: calc(100% - 179px);
    margin-top: 11px;
}

.stop-alarm {
    margin-left: 10px;
    background-size: 55px;
    background-image: url(../svg/button-clear-alarm.svg);
    image-rendering: pixelated;
}

.filter-alarm {
    background-image: url(../svg/filter.svg);
    margin-left: 10px;
    image-rendering: pixelated;
    background-size: 58px;
}

.cleaning-control {
    background-image: url(../svg/tap-cleaning-white.svg);
    position: relative;
    image-rendering: pixelated;
    padding: 7px;
    padding-left: 9px;
    padding-right: 7px;
    background-size: 35px;
}

.clean-contr-container {
    margin-bottom: 4px;
}

.untab__navigation .clean-contr-container .untab_active {
    background-image: url(../svg/tap-cleaning-blue.svg);
}

.cleaning-control-header {
    display: flex;
    justify-content: start;
}

.cl-icon {
    display: block;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: 36px;
    background-position: center;
    margin-top: 16px;
}

.cleaning-icon {
    background-image: url(../svg/tap-cleaning-black.svg);
    margin-left: 25px;
    image-rendering: pixelated;
}

.atention-icon {
    background-image: url(../svg/attention.svg);
    margin-left: 35px;
    background-size: 46px;
    image-rendering: pixelated;
}

.date-icon {
    background-image: url(../svg/clock.svg);
    width: 28%;
    background-size: 40px;
    margin-left: 35px;
    image-rendering: pixelated;
}

.container-icon {
    background-image: url(../svg/chemical-container.svg);
    margin-left: 49px;
    background-size: 29px;
    image-rendering: pixelated;
}

.cl-bar-button {
    display: block;
    width: 74px;
    height: 74px;
    background-repeat: no-repeat;
    background-size: 56px;
    background-position: center;
    border: solid 3px #2A569A;
    border-radius: 5px;
    box-shadow: 1px 1px #b8b8b8, -1px -1px #b8b8b8;
}

.acid-control-bar {
    display: flex;
    justify-content: start;
    margin-top: 20px;
    margin-left: 13px;
}

.acid-cleaning-icon {
    background-image: url(../svg/acid-cleaning.svg);
    background-color: #FFF;
    image-rendering: pixelated;
}

.cl-bar-atention-icon {
    display: block;
    width: 70px;
    height: 70px;
    background-repeat: no-repeat;
    background-size: 60px;
    background-position: center;
    background-image: url(../svg/attention.svg);
    margin-top: 2px;
    margin-left: 13px;
    image-rendering: pixelated;
}

.acid-atention {
    visibility: hidden;
}

.cl-date-value {
    display: block;
    width: 28%;
    font-size: 25px;
    text-align: left;
    margin-top: 25px;
    margin-left: 1px;
}

.acid-container-icon {
    background-image: url(../svg/acid-pump.svg);
    background-color: #FFF;
    margin-left: 65px;
    background-size: 60px;
    image-rendering: pixelated;
    border-width: 2px 3px;
    width: 75px;
}

.alkaline-control-bar {
    display: flex;
    justify-content: start;
    margin-top: 8px;
    margin-left: 13px;
}

.alkaline-cleaning-icon {
    background-image: url(../svg/alkaline-cleaning.svg);
    background-color: #FFF;
    image-rendering: pixelated;
}

.alkaline-atention {
    visibility: hidden;
}

.alkaline-container-icon {
    background-image: url(../svg/alkaline-pump.svg);
    background-color: #fff;
    margin-left: 65px;
    background-size: 60px;
    image-rendering: pixelated;
    border-width: 2px 3px;
    width: 75px;
}

.line-rinsing-bar {
    display: flex;
    justify-content: start;
    margin-top: 8px;
    margin-left: 13px;
}

.line-rinsing-icon {
    background-image: url(../svg/rinsing-gr.svg);
    background-color: #fff;
    background-size: 66px 60px;
    image-rendering: pixelated;
    border-width: 2px;
}

.line-rinsing-atention {
    visibility: hidden;
}

.line-rinsing-container-icon {
    background-image: url(../svg/line-pump.svg);
    background-color: #FFF;
    margin-left: 65px;
    background-size: 60px;
    image-rendering: pixelated;
    border-width: 2px 3px;
    width: 75px;
}

.robot-rinsing-bar {
    display: flex;
    justify-content: start;
    margin-top: 8px;
    margin-left: 13px;
}

.robot-rinsing-icon {
    background-image: url(../svg/rinsing.svg);
    background-color: #f9f9f9;
    background-size: 66px 60px;
    image-rendering: pixelated;
    border-width: 2px;
}

.robot-rinsing-atention {
    visibility: hidden;
}

.robot-rinsing-container-icon {
    background-image: url(../svg/brushes.svg);
    background-color: #f9f9f9;
    margin-left: 65px;
    background-size: 63px;
    image-rendering: pixelated;
    border-width: 2px 3px;
    width: 75px;
    box-shadow: 0px 1px #b8b8b8, 0px -1px #b8b8b8, inset 0px 1px #b8b8b8, inset 0px -1px #b8b8b8;
}

.iodine-valve {
    margin-top: 8px;
}

.iodine-valve-icon {
    background-image: url(../svg/spray.svg);
    margin-left: calc(28% + 232px);
    background-size: 46px;
    image-rendering: pixelated;
    border-width: 2px 3px;
    width: 75px;
    box-shadow: 0px 1px #b8b8b8, 0px -1px #b8b8b8, inset 0px 1px #b8b8b8, inset 0px -1px #b8b8b8;
}

.atention-active {
    visibility: visible;
}

.sampler {
    background-image: url(../svg/tab-sampler-white.svg);
    background-size: 35px;
    padding: 7px;
    padding-left: 8px;
    padding-right: 6px;
}

.sampler-container {
    margin-bottom: 4px;
}

.untab__navigation .sampler-container .untab_active {
    background-image: url(../svg/tab-sampler-blue.svg);
}

.sampler-status {
    display: flex;
    justify-content: start;
    margin-top: 5px;
}

.sampler-status-text {
    font-size: 20px;
    width: 262px;
    text-align: center;
    margin-top: 15px;
}

.sampler-status-icon {
    display: block;
    width: 75px;
    height: 75px;
    background-repeat: no-repeat;
    background-size: 60px;
    background-position: center;
    border: solid #2A569A;
    border-radius: 5px;
    background-color: #FFF;
}

.sampler-status-play {
    background-image: url(../svg/mode-play.svg);
    display: none;
    image-rendering: pixelated;
}

.sampler-status-stop {
    background-image: url(../svg/mode-stop.svg);
    display: none;
    image-rendering: optimizeSpeed;
    background-size: 60px;
}

.sampler-status-active {
    display: block;
}

.sampler-frame {
    display: flex;
    justify-content: start;
    align-items: flex-start;
    padding-bottom: 5px;
    margin-top: 23px;
}

.sampler-frame-text,
.bottle-number-text,
.last-bottle-number-text {
    margin-top: 12px;
    font-size: 20px;
    width: 262px;
    text-align: center;
}

.sampler-frame-button,
.bottle-number-button,
.last-bottle-number-button {
    display: block;
    width: 120px;
    height: 43px;
    background-size: 60px;
    border: solid #2A569A;
    border-radius: 5px;
    background-color: #FFF;
    font-size: 20px;
    text-align: center;
    padding-top: 2px;
}

.bottle-number {
    display: flex;
    justify-content: start;
    margin-top: 37px;
}

.bottle-number-text {
    margin-top: 0px;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 2px;
}

.last-bottle-number {
    margin-top: 33px;
    display: flex;
    justify-content: start;
}

.last-bottle-number-text {
    margin-top: 0px;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 15px;
}

.arm-control {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.main-control-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cow-bar {
    display: flex;
    justify-content: start;
    margin-left: 24px;
    margin-top: 44px;
}

.cup-button {
    width: 75px;
    height: 75px;
    border: solid #2A569A;
    background-color: white;
    border-radius: 5px;
    display: none;
    background-position: center;
    background-repeat: no-repeat;
}

.cup-active {
    display: block;
}



.cup-unknow {
    background-image: url(../svg/cup-state-unknow.svg);
    background-size: 60px;
}

.cup-note {
    background-image: url(../images/cup-state-note.png);
    background-size: 60px;
}


.cup-done {
    background-image: url(../images/cup-state-done.png);
    background-size: 60px;
}

.right-cups {
    margin-left: 23px;
}

.right-bottom-cup, .left-bottom-cup {
    margin-top: 13px;
}

button.cup-button:disabled {
    filter: opacity(20%)
}

.middle-cow {
    width: 70px;
    height: 190px;
    display: block;
    background-image: url(../svg/cow.svg);
    background-size: 66px 180px;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 23px;
    margin-left: 20px;
}

.arm-button {
    width: 74px;
    height: 82px;
    display: block;
    border: solid #2A569A;
    background-color: white;
    border-radius: 5px;
    background-position: center;
    background-repeat: no-repeat;
}

.arm-up {
    border-width: 3px 2px 2px 3px;
    box-shadow: 1px 1px #b8b8b8, 0px 0px #b8b8b8, inset 0px 0px #b8b8b8, inset -1px -1px #b8b8b8;
    background-image: url(../svg/arm-to-up.svg);
    background-origin: padding-box;
    background-origin: content-box;
    background-size: 60px;
    padding-right: 1px;
}

.arm-down {
    border-width: 2px 2px 2px 3px;
    box-shadow: 1px 1px #b8b8b8, 0px -1px #b8b8b8, inset 0px 1px #b8b8b8, inset -1px -1px #b8b8b8;
    background-image: url(../svg/arm-to-down.svg);
    background-origin: padding-box;
    background-origin: content-box;
    padding-right: 1px;
    background-size: 60px;
}

.arm-fast {
    display: none;
    background-color: #2A569A;
    background-image: url(../svg/arm-fast.svg);
    background-size: 60px;
    background-origin: padding-box;
    background-origin: content-box;
    padding-bottom: 8px;
    padding-right: 1px;
}

.arm-slow {
    display: none;
    background-image: url(../svg/arm-slow.svg);
    background-size: 60px;
}

.arm-speed-active {
    display: block;
    border-width: 2px 2px 3px 3px;
    box-shadow: 1px 0px #b8b8b8, 0px -1px #b8b8b8, inset 0px 0px #b8b8b8, inset 0px 0px #b8b8b8;
}

.arm-bar {
    display: flex;
    justify-content: start;
    margin-left: 4px;
}

.top-cross-button, .left-cross-button, .right-cross-button {
    margin-bottom: 3px;
}

.top-cross-button {
    border-width: 3px 2px 2px 3px;
    box-shadow: 1px 1px #b8b8b8, 0px 0px #b8b8b8, inset 0px 0px #b8b8b8, inset -1px -1px #b8b8b8;
    margin-left: 74px;
    background-image: url(../svg/arm-up.svg);
    background-size: 47px 60px;
}

.left-cross-button {
    border-width: 2px 3px 2px 2px;
    box-shadow: 0px 1px #b8b8b8, -1px -1px #b8b8b8, inset 1px 1px #b8b8b8, inset 0px -1px #b8b8b8;
    background-image: url(../svg/arm-left.svg);
    background-size: 60px 46px;
}

.right-cross-button {
    border-width: 2px 3px 2px 2px;
    box-shadow: 0px 1px #b8b8b8, -1px -1px #b8b8b8, inset 1px 1px #b8b8b8, inset 0px -1px #b8b8b8;
    background-image: url(../svg/arm-right.svg);
    margin-left: 18px;
    background-size: 60px 46px;
}

.bottom-cross-button {
    border-width: 2px 2px 3px 3px;
    box-shadow: 1px 0px #b8b8b8, 0px -1px #b8b8b8, inset 0px 1px #b8b8b8, inset -1px 0px #b8b8b8;
    margin-left: 74px;
    background-image: url(../svg/arm-down.svg);
    background-size: 47px 60px;
}

.side-arm-button:not(:last-child) {
    margin-bottom: 3px;
}

.side-arm-button:last-child, .bottom-cross-button {
    margin-bottom: 4px;
}

.cross-arm-bar {
    margin-left: 3px;
}

.middle-cross {
    display: flex;
    justify-content: space-between;
}

.cross-cow {
    width: 40px;
    height: 82px;
    display: block;
    background-image: url(../svg/cow.svg);
    background-size: 30px 82px;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 17px;
}

.side-control-bar {
    margin-top: 12px;
}

.arm-side-button {
    width: 74px;
    height: 74px;
    display: block;
    border: solid 2px #2A569A;
    border-radius: 5px;
    background-color: white;
    box-shadow: 1px 1px #b8b8b8, -1px -1px #b8b8b8, inset 1px 1px #b8b8b8, inset -1px -1px #b8b8b8;
    background-repeat: no-repeat;
    background-position: center;
}

.save-cups-info {
    background-image: url(../svg/status-ok.svg);
    background-size: 60px;
}

.clear-cups-info {
    background-image: url(../svg/clear-cups.svg);
    background-size: 60px;
}

.manual-cups {
    background-image: url(../svg/arm-manual.svg);
    background-size: 51px;
    background-origin: padding-box;
    background-origin: content-box;
}

.cups-servise {
    background-image: url(../svg/arm-service.svg);
    background-size: 60px;
}

.arm-side-button:not(:last-child) {
    margin-bottom: 16px;
}

.control-field {
    width: calc(100% - 400px);
    height: calc(100% - 32px);
    border: solid #2A569A;
    margin-right: 6px;
    margin-top: 12px;
    border-radius: 5px;
}

.touch-bar {
    display: flex;
}

.touch-bar-icons {
    margin-top: 4px;
}

.language {
    margin-top: 21px;
    width: calc(100% - 100px);
}

.language-icon,
.clean-touch,
.off-system {
    display: block;
    width: 74px;
    height: 74px;
    background-repeat: no-repeat;
    background-size: 55px;
    background-position: center;
    border: solid #2A569A;
    border-radius: 5px;
    background-color: #FFF;
    background-image: url(../svg/language.svg);
    margin-left: 13px;
    image-rendering: pixelated;
}

.language-icon {
    background-size: 56px 60px;
    border: 0px;
}

.clean-touch {
    background-image: url(../svg/tap-cleaning-black.svg);
    image-rendering: pixelated;
    border: solid 2px #2A569A;
    margin-top: 8px;
    box-shadow: 1px 1px #b8b8b8, -1px -1px #b8b8b8, inset 1px 1px #b8b8b8, inset -1px -1px #b8b8b8;
}

.off-system {
    background-image: url(../svg/off-button.svg);
    image-rendering: pixelated;
    border: solid 2px #2A569A;
    margin-top: 8px;
    box-shadow: 1px 1px #b8b8b8, -1px -1px #b8b8b8, inset 1px 1px #b8b8b8, inset -1px -1px #b8b8b8;
}

.milking-setting {
    background-image: url(../svg/arm-white.svg);
    background-size: 35px;
    padding: 7px;
    padding-left: 9px;
    padding-right: 5px;
}

.milking-setting-container {
    margin-bottom: 4px;
}

.untab__navigation .milking-setting-container .untab_active {
    background-image: url(../svg/arm-blue.svg);
}

.touchscreen-setting {
    background-image: url(../svg/tab-touchscreen-white.svg);
    background-size: 34px;
    padding: 7px;
    padding-left: 9px;
    padding-right: 5px;
}

.untab__navigation .touch-container .untab_active {
    background-image: url(../svg/tab-touchscreen-blue.svg);
}

.scheme {
    background-image: url(../svg/tab-input-outputtest-white.svg);
    background-size: 35px;
    image-rendering: pixelated;
    padding: 7px;
    padding-left: 8px;
    padding-right: 6px;
}

.scheme-container {
    margin-bottom: 4px;
}

.untab__navigation .scheme-container .untab_active {
    background-image: url(../svg/tab-input-outputtest-blue.svg);
}

.calibration {
    background-image: url(../svg/tab-calibration-white.svg);
    background-size: 35px;
    image-rendering: pixelated;
    padding: 7px;
    padding-left: 9px;
    padding-right: 5px;
}

.untab__navigation .calibration-container .untab_active {
    background-image: url(../svg/tab-calibration-blue.svg);
}

.version {
    background-image: url(../svg/tab-version-white.svg);
    background-size: 35px;
    image-rendering: pixelated;
    padding: 7px;
    padding-left: 8px;
    padding-right: 6px;
}

.version-container {
    margin-bottom: 4px;
}

.untab__navigation .version-container .untab_active {
    background-image: url(../svg/tab-version-blue.svg);
}

.global-setting {
    background-image: url(../svg/tab-global-setting-white.svg);
    background-size: 35px;
    image-rendering: pixelated;
    padding: 7px;
    padding-left: 10px;
    padding-right: 6px;
}

.global-containter {
    margin-bottom: 4px;
}

.untab__navigation .global-containter .untab_active {
    background-image: url(../svg/tab-global-setting-blue.svg);
}

.side-bar {
    width: 78px;
}

.side-bar-button:first-child {
    margin-top: 7px;
}

.side-bar-button:not(:first-child) {
    margin-top: 6px;
}

.side-bar-button:hover {
    cursor: pointer;
}

.mode-select-button {
    display: none;
}

.mode-stop {
    background-image: url(../svg/mode-stop.svg);
    image-rendering: pixelated;
    background-size: contain;
    background-origin: padding-box;
    background-origin: content-box;
    padding: 4px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 3px;
}

.mode-pause {
    background-image: url(../svg/mode-pause.svg);
    image-rendering: pixelated;
    background-size: 60px;
}

.mode-play {
    background-image: url(../svg/mode-play.svg);
    image-rendering: pixelated;
    background-size: 60px;
}

.mode-active {
    display: block;
}

.alarm-button {
    background-size: 55px;
    background-image: url(../svg/alarm-black.svg);
    image-rendering: pixelated;
}

.medium-alarm {
    background-color: #ffa500;
}

.fatal-alarm {
    background-color: #ff1616;
}

.button-close-cow-exit {
    background-image: url(../svg/button-close-cow-exit.svg);
    image-rendering: pixelated;
    background-size: 61px 61px;
}

.exit-is-close {
    background-color: #2aa3e6;
}

.button-feed {
    background-size: 51px;
    background-image: url(../svg/button-feed.svg);
    image-rendering: pixelated;
    padding-bottom: 7px;
}

.button-skip {
    background-image: url(../svg/button-separate-animal.svg);
    image-rendering: pixelated;
    background-size: 41px;
}

.skip-is-active {
    background-color: #2aa3e6;
}

.milk-action-select-button {
    background-size: 60px;
}

.button-open-cell {
    background-image: url(../svg/button-open-cell.svg);
    image-rendering: pixelated;
    background-size: 60px;
}

.button-milk-action-select {
    background-image: url(../svg/button-milk-action-select.svg);
    image-rendering: pixelated;
    background-size: 61px;
}

.milk-action-select-list {
    display: none;
}

.sampler .untab_active {
    background-size: 100px;
}

.untab_active {
    margin-left: 3px;
    width: 82px;
    height: 80px;
    box-sizing: border-box;
    background-color: white;
    background-size: contain;
    background-origin: content-box;
}

.input-button {
    font-family: Cera-regular;
}



.dropdown {
    list-style-type: none;
    font-weight: 300;
    width: 100%;
    margin-left: 8px;
}

.dropdown__value {
    box-sizing: border-box;
    padding: 5px;
    display: inline-block;
    cursor: pointer;
    width: 100%;
    border: 1px solid gray;
    background-color: #e8e8e8;
    height: 40px;
    margin-left: 5px;
    font-size: 27px;
    background-image: url(../images/free-icon-down-arrow-625946.png);
    background-size: 6px;
    background-repeat: no-repeat;
    background-position: right;
    background-origin: padding-box;
    background-origin: content-box;
    padding-right: 6px;
}

.dropdown__value p {
    margin-right: 100px;
}

.dropdown__list {
    display: none;
    list-style-type: none;
    border: 1px solid gray;
    box-shadow: 1px 1px gray, 1px 1px gray;
    margin-left: 5px;
    width: 100%;
    font-size: 27px;
}

.dropdown__list_active {
    display: block;
}

.card {
    text-align: center;
}

.dropdown__item {
    border: none;
}

.dropdown__item {
    height: 40px;
    display: block;
    text-decoration: none;
    color: black;
    box-sizing: border-box;
    background-color: #fff;
    padding-top: 5px;
    width: 100%;
    border: 1px solid gray;
    padding-left: 5px;
    font-size: 27px;
}

.dropdown__item:hover {
    background-color: #2aa3e6;
}

.main-div {
    display: none;
    position: absolute;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    font-family: Cera-regular;
    z-index: 3;
    background-color: rgb(0, 0, 0, .4);
    backdrop-filter: blur(4px);
}

.main-content {
    height: 540px;
    width: 420px;
    background: #f9f9f9;
    border: solid 5px #2A569A;
    border-radius: 5px;
    padding: 10px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    z-index: 4;
}

.main-content:before {
    background: none;
    border: 5px solid #2aa3e6;
    border-radius: 10px;
    content: "";
    display: block;
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    pointer-events: none;
  }

.main-div-active {
    display: flex;
}

.screen-div,
.number-div {
    padding: 0;
    margin: 0;
}

.screen {
    font-family: Cera-regular;
    list-style: none;
    height: 80px;
    border-radius: 5px;
    border: solid #2A569A;
    vertical-align: center;
    padding-top: 15px;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    width: 390px;
}


.num-button, .clear, .enter {
    font-family: Cera-regular;
    font-size: 40px;
    width: 83px;
    height: 80px;
    border: solid #2A569A;
    border-radius: 5px;
    background-color: white;
    margin-top: 20px;
    text-align: center;
}

.enter {
    font-size: 20px;
    width: 185px;
}

.number-div {
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
}

.bluc {
    background-color: #2A569A;
    transition: 0.3s;
}

/* Стили для вкладки натроек */

.arm-setting {
    display: flex;
    justify-content: start;
    height: 100%;
}

.main-setting-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top-setting-bar {
    margin-top: 24px;
    margin-left: 12px;
}

.setting-bar { 
    display: flex;
    justify-content: start;
}

.description-setting {
    width: 135px;
    font-size: 13px;
    text-align: center;
    margin-top: 12px;
    margin-right: 5px;
}

.into-description {
    margin-top: 62px;
}

.top-setting-button {
    width: 54px;
    height: 54px;
    border: solid 2px #2A569A;
    border-radius: 5px;
    font-size: 10px;
    background-color: #FFF;
    box-shadow: 1px 1px #a1defd, -1px -1px #a1defd, inset 1px 1px #a1defd, inset -1px -1px #a1defd;
}

.into-button {
    margin-top: 41px;
    margin-bottom: 41px;
}

.arm-setting-button {
    width: 69px;
    height: 93px;
    display: block;
    border: solid #2A569A;
    background-color: white;
    border-radius: 5px;
    background-position: center;
    background-repeat: no-repeat;
}

.center-setting-save, .center-setting-clear, .into-setting-save, .into-setting-clear, .under-setting-save, .under-setting-clear {
    margin-left: 16px;
}

.arm-setting-up {
    border-width: 2px 2px 3px 3px;
    box-shadow: 1px 0px #b8b8b8, 0px -1px #b8b8b8, inset 0px 1px #b8b8b8, inset -1px 0px #b8b8b8;
    background-image: url(../svg/arm-to-up.svg);
    background-origin: padding-box;
    background-origin: content-box;
    background-size: 60px;
    padding-right: 1px;
}

.arm-setting-down {
    border-width: 2px 2px 3px 3px;
    box-shadow: 1px 0px #b8b8b8, 0px -1px #b8b8b8, inset 0px 1px #b8b8b8, inset -1px 0px #b8b8b8;
    background-image: url(../svg/arm-to-down.svg);
    background-origin: padding-box;
    background-origin: content-box;
    padding-right: 1px;
    background-size: 60px;
}

.arm-setting-fast {
    display: none;
    background-color: #2A569A;
    background-image: url(../svg/arm-fast.svg);
    background-size: 60px;
    background-origin: padding-box;
    background-origin: content-box;
    padding-bottom: 8px;
    padding-right: 1px;
}

.arm-setting-slow {
    display: none;
    background-image: url(../svg/arm-slow.svg);
    background-size: 60px;
}

.arm-setting-speed-active {
    display: block;
    border-width: 2px 2px 3px 3px;
    box-shadow: 1px 0px #b8b8b8, 0px -1px #b8b8b8, inset 0px 0px #b8b8b8, inset 0px 0px #b8b8b8;
}

.arm-setting-bar {
    display: flex;
    justify-content: start;
    margin-left: 4px;
    
}

.top-setting-cross-button, .left-setting-cross-button, .right-setting-cross-button {
    margin-bottom: 2px;
}

.top-setting-cross-button {
    border-width: 3px 2px 3px 3px;
    box-shadow: 1px 0px #b8b8b8, 0px 0px #b8b8b8, inset 0px 0px #b8b8b8, inset -1px 0px #b8b8b8;
    margin-left: 69px;
    background-image: url(../svg/arm-up.svg);
    background-size: 47px 60px;
}

.left-setting-cross-button {
    border-width: 2px 3px 3px 2px;
    box-shadow: 0px 0px #b8b8b8, -1px -1px #b8b8b8, inset 1px 1px #b8b8b8, inset 0px 0px #b8b8b8;
    background-image: url(../svg/arm-left.svg);
    background-size: 60px 46px;
}

.right-setting-cross-button {
    border-width: 2px 3px 3px 2px;
    box-shadow: 0px 0px #b8b8b8, -1px -1px #b8b8b8, inset 1px 1px #b8b8b8, inset 0px 0px #b8b8b8;
    background-image: url(../svg/arm-right.svg);
    margin-left: 16px;
    background-size: 60px 46px;
}

.bottom-setting-cross-button {
    border-width: 2px 2px 3px 3px;
    box-shadow: 1px 0px #b8b8b8, 0px -1px #b8b8b8, inset 0px 1px #b8b8b8, inset -1px 0px #b8b8b8;
    margin-left: 69px;
    background-image: url(../svg/arm-down.svg);
    background-size: 47px 60px;
}

.side-setting-arm-button:not(:last-child) {
    margin-bottom: 2px;
}

.side-setting-arm-button:last-child, .bottom-setting-cross-button {
    margin-bottom: 4px;
}

.cross-setting-arm-bar {
    margin-left: 3px;
}

.middle-setting-cross {
    display: flex;
    justify-content: space-between;
}

.cross-setting-cow {
    width: 40px;
    height: 93px;
    display: block;
    background-image: url(../svg/cow.svg);
    background-size: 35px 93px;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 14px;
}

.setting-field {
    padding-top: 6px;
}

.configuration-field {
    width: 385px;
    height: calc(100% - 94px);
    margin-left: 22px;
    overflow: auto;
}

.configuration-item {
    display: flex;
    justify-content: start;
}

.configuration-item-name {
    font-size: 12px;
    margin-left: 2px;
    margin-top: 11px;
    width: 135px;
    overflow: hidden;
    white-space: nowrap;
}

.configuration-item-button {
    width: 96px;
    height: 36px;
    background-color: #d3d3d3;
    border:none;
    margin-left: 51px;
    text-align: center;
    padding: auto;
    border: solid #FFF;
}

.configuration-item:not(:first-child) {
    margin-top: 4px
}

.configuration-item-value {
    font-size: 12px;
    margin-top: 8px;
    margin-left: 20px;
}

.configuration-buttons {
    display: flex;
    justify-content: start;
    margin-left: 240px;
    margin-top: 7px;
}

.configuration-button {
    width: 75px;
    height: 75px;
    display: block;
    border: solid 3px #2A569A;
    background-color: #FFF;
    border-radius: 5px;
}

.configuration-done {
    background-image: url(../svg/ok.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60px;
}

.configuration-cancel {
    background-image: url(../svg/cancel.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60px;
}

.option {
    z-index: 0;
    display: block;
}

.configuration-button:not(:first-child) {
    margin-left: 10px;
}

.sel {
    font-family: Cera-light;
    text-align-last:center;
    border: #494949 solid;
    margin-left: 51px;
    padding: auto;
}

.option {
    text-align-last:center;
}

.configuration-item-button:hover {
   border: #2A569A solid;
}

.block select{
    text-align : center;
}


/* Окно очистки панели */

.cleaning-popup-main {
    position: absolute;
      justify-content: center;
      align-items: center;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background-color: rgb(0, 0, 0, .4);
      backdrop-filter: blur(4px);
      z-index: 4;
  }
  
  .cleaning-popup-container {
    width: 410px;
    height: 240px;
    border: solid 5px #2A569A;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background: #f9f9f9;
  }
  
  .cleaning-popup-container:before {
    background: none;
      border: 5px solid #ed1c24;
      border-radius: 10px;
      content: "";
      display: block;
      position: absolute;
      top: -10px;
      left: -10px;
      right: -10px;
      bottom: -10px;
      pointer-events: none;
  }
  
  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: absolute;
  }
  
  .clean-main-h {
    font-size: 25px;
    font-weight: 400;
    margin-left: 10px;
    margin-top: 24px;
    text-align: center;
  }
  
  .cleaning-message {
    font-size: 13px;
    text-align: center;
    margin-top: 30px;
  }
  
  .clean-second-h {
    font-size: 14px;
    font-weight: 200;
    text-align: center;
    color: red;
    margin-top: 20px;
  }
  
  .progress {
    width: 95%;
    height: 20px;
    background-color: black;
    position: relative;
    visibility: visible;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
  }
  
  .progress-inner {
    background-color: #2A569A;
    position: absolute;
    width: 100%;
    height: 100%;
  }
  
  .hide {
    display: none;
  }
  


/*.control-setting-field {
    width: calc(100% - 400px);
    height: calc(100% - 32px);
    border: solid #2A569A;
    margin-right: 6px;
    margin-top: 12px;
    border-radius: 5px;
}