@font-face {
    font-family: Cera-light;
    src: url(../fonts/CeraPro-Light.ttf);
    font-style: normal;
}

@font-face {
    font-family: Cera-regular;
    src: url(../fonts/CeraPro-Regular.ttf);
    font-style: normal;
}

@font-face {
    font-family: Cera-bold;
    src: url(../fonts/CeraPro-Bold.ttf);
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button:hover {
    cursor: pointer;
}

.ag-header-cell-label {
    justify-content: center;
    text-align: center !important;
}

html {
    height: calc(100% - 4px);
}

body {
    height: calc(100%);
    font-family: Cera-regular;
}

.header {
    border: solid #0068a7;
    border-radius: 5px;
    height: 85px;
    margin: 2px 2px 0px 2px;
}

.header-conteiner {
    padding: 3px 9px 3px 9px;
    display: flex;
    justify-content: space-between;
}

.header-information {
    display: flex;
}

.system-condition {
    margin-top: 3.5px;
    background-image: url(../images/status-wait-for-cow.png);
    width: 72px;
    height: 72px;
    background-repeat: no-repeat;
    background-size: 72px;
    background-position: center;
}

.cow-amount {
    display: flex;
}

.cow-count {
    background-image: url(../images/cow-id.png);
    margin-top: 5px;
    margin-right: 15px;
    margin-left: 19px;
    width: 70px;
    height: 70px;
    background-repeat: no-repeat;
    background-size: 70px;
    background-position: center;
}

.cow-count-value {
    letter-spacing: 1px;
    margin-top: 22px;
    font-size: 35px;
}

.header-icon {
    display: block;
}

.milk-control {
    margin-left: 29px;
    display: flex;
    flex-direction: row;
}

.milk-amount {
    background-image: url(../images/milk-amount.png);
    margin-top: 15px;
    background-size: 28px auto;
    width: 50px;
    height: 50px;
    margin-left: 1px;
    background-repeat: no-repeat;
    background-position: center;
}

.milk-indication {
    margin-top: 23px;
    font-size: 35px;
}

.timer {
    display: flex;
    margin-left: 40px;
}

.timer-icon {
    background-image: url(../images/timer.png);
    margin-top: 19px;
    background-size: 39px auto;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center;
}

.timer-count {
    margin-top: 23px;
    margin-left: 3px;
    font-size: 35px;
}

.logo-container {
    align-self: flex-end;
}

.logo-icon {
    display: block;
    width: 70px;
    height: 70px;
    margin-bottom: 20px;
    margin-right: 40px;
    background-repeat: no-repeat;
    background-size: 70px 70px;
    background-position: center;
    background-image: url(../images/logo.png);
}

.monitor {
    width: 100%;
    display: flex;
    height: calc(100% - 85px);
}

.main {
    margin: 0px 4px 0px 2px;
    width: calc(100% - 82px);
    border-radius: 5px;
}

.tabs {
    height: 100%;
}

.tab_bar {
    margin-top: -1px;
    display: flex;
    justify-content: space-between;
}

.tab__navigation {
    display: flex;
    align-items: center;
    position: relative;
}

.tab {
    background-color: #e2ff3b;
    border-radius: 5px 5px 0 0;
    cursor: pointer;
    background-color: #7fb4d4;
    position: relative;
    border-width: 2px 2px 0;
    text-align: center;
    display: block;
    width: 90px;
    height: 87px;
    background-repeat: no-repeat;
    background-size: 50px;
    background-position: center;
    border: solid #0068a7;
    top: 3px;
}

.tab:not(:last-child) {
    margin-right: 4px;
}

.tab_active {
    background-color: white;
    background-size: contain;
    background-position: 50% 57%;
    background-origin: content-box;
}

.tab_active:after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
    height: 5px;
    background: #FFF;
}

.home-page {
    background-image: url(../images/tab-home-page.png);
    padding: 4px;
}

.info-page {
    background-image: url(../images/tab-statistic-page.png);
    padding: 3px;
}

.control-page {
    background-image: url(../images/tab-control-page.png);
    padding: 8px;
    padding-top: 9px;
    padding-bottom: 7px;
}

.setting-page {
    background-image: url(../images/tab-setting-page.png);
    padding: 8px;
}

.clock-bar {
    display: flex;
    justify-content: space-between;
    margin-right: 44px;
}

.clock-icon {
    background-image: url(../images/clock.png);
    background-size: 40px;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    margin-top: 21px;
    margin-right: 19px;
}

.time {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 20px;
    font-size: 35px;
    width: 100px;
}

.tab__content {
    border: solid #0068a7;
    height: calc(100% - 87px);
    border-radius: 0 10px 10px 10px;
    display: none;
    padding-top: 1px;
    padding-left: 2px;
    padding-right: 3px;
    padding-bottom: 4px;
}

.tab__content_active {
    display: block;
}

.untabs {
    display: flex;
    height: calc(100% + 2px);
    border: #ff1616;
}

.untab__navigation {
    align-items: center;
    display: block;
}

.untab {
    position: relative;
    margin-top: 2px;
    background-origin: padding-box;
    padding: 10px;
    border-radius: 5px 0 0 5px;
    cursor: pointer;
    background-color: #7fb4d4;
    border-width: 2px 0 2px 2px;
    text-align: center;
    display: block;
    width: 85px;
    height: 80px;
    background-repeat: no-repeat;
    background-size: 32px;
    background-position: center;
    border: solid #0068a7;
}

.untab:not(:last-child) {
    margin-bottom: 4px;
}

.milk-yield-statistics {
    background-size: 34px;
    background-image: url(../images/tab-milk_yield_statistics.png);
}

.cleaning-statustics {
    background-image: url(../images/tap-cleaning.png);
}

.alarm-statistics {
    background-image: url(../images/alarm.png);
}

.untab__content {
    margin-top: 2px;
    box-sizing: content-box;
    overflow: hidden;
    border: solid #0068a7;
    border-radius: 0 10px 10px 10px;
    display: none;
    width: 100%;
    margin-left: -3px;
}

.side-bar-button,
.button {
    display: block;
    width: 75px;
    height: 75px;
    background-repeat: no-repeat;
    background-size: 59px;
    background-position: center;
    background-color: white;
    border: solid #0068a7;
    border-radius: 5px;
    margin-left: 1px;
}

.milk-filter {
    background-image: url(../images/filter.png);
    position: absolute;
    bottom: 27px;
    right: 115px;
    z-index: 2;
}

.untab_active:after {
    position: absolute;
    content: '';
    top: 0;
    right: -3px;
    bottom: 0;
    width: 4px;
    background: #FFF;
    z-index: 1;
}

.untab__content_active {
    display: block;
}

.new-alarm {
    display: flex;
    align-items: flex-end;
}

.list-of-alarm {
    display: flex;
    align-items: flex-end;
    height: calc(100% - 178px);
    margin-top: 11px;
}

.stop-alarm {
    margin-left: 10px;
    background-size: 55px;
    background-image: url(../images/button-clear-alarm.png);
}

.filter-alarm {
    background-image: url(../images/filter.png);
    margin-left: 10px;
}

.cleaning-control {
    background-image: url(../images/tap-cleaning.png);
}

.cleaning-control-header {
    display: flex;
    justify-content: start;
}

.cl-icon {
    display: block;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: 36px;
    background-position: center;
    margin-top: 16px;
}

.cleaning-icon {
    background-image: url(../images/tap-cleaning.png);
    margin-left: 25px;
}

.atention-icon {
    background-image: url(../images/attention.png);
    margin-left: 35px;
    background-size: 46px;
}

.date-icon {
    background-image: url(../images/clock.png);
    width: 28%;
    background-size: 40px;
    margin-left: 34px;
}

.container-icon {
    background-image: url(../images/chemical-container.png);
    margin-left: 49px;
    background-size: 29px;
}

.cl-bar-button {
    display: block;
    width: 75px;
    height: 75px;
    background-repeat: no-repeat;
    background-size: 56px;
    background-position: center;
    border: solid #0068a7;
    border-radius: 5px;
}

.acid-control-bar {
    display: flex;
    justify-content: start;
    margin-top: 20px;
    margin-left: 13px;
}

.acid-cleaning-icon {
    background-image: url(../images/acid-cleaning.png);
    background-color: #fe0000;
}

.cl-bar-atention-icon {
    display: block;
    width: 70px;
    height: 70px;
    background-repeat: no-repeat;
    background-size: 60px;
    background-position: center;
    background-image: url(../images/attention.png);
    margin-top: 2px;
    margin-left: 12px;
}

.acid-atention {
    visibility: hidden;
}

.cl-date-value {
    display: block;
    width: 28%;
    font-size: 25px;
    text-align: left;
    margin-top: 25px;
    margin-left: 1px;
}

.acid-container-icon {
    background-image: url(../images/pump.png);
    background-color: #fe0000;
    margin-left: 64px;
    background-size: 60px;
}

.alkaline-control-bar {
    display: flex;
    justify-content: start;
    margin-top: 7px;
    margin-left: 13px;
}

.alkaline-cleaning-icon {
    background-image: url(../images/alkaline-cleaning.png);
    background-color: #006eaa;
}

.alkaline-atention {
    visibility: hidden;
}

.alkaline-container-icon {
    background-image: url(../images/pump.png);
    background-color: #006eaa;
    margin-left: 64px;
    background-size: 60px;
}

.line-rinsing-bar {
    display: flex;
    justify-content: start;
    margin-top: 7px;
    margin-left: 13px;
}

.line-rinsing-icon {
    background-image: url(../images/rinsing.png);
    background-color: #93ed8b;
    background-size: 67px;
}

.line-rinsing-atention {
    visibility: hidden;
}

.line-rinsing-container-icon {
    background-image: url(../images/pump.png);
    background-color: #93ed8b;
    margin-left: 64px;
    background-size: 60px;
}

.robot-rinsing-bar {
    display: flex;
    justify-content: start;
    margin-top: 7px;
    margin-left: 13px;
}

.robot-rinsing-icon {
    background-image: url(../images/rinsing.png);
    background-color: #f9f9f9;
    background-size: 67px;
}

.robot-rinsing-atention {
    visibility: hidden;
}

.robot-rinsing-container-icon {
    background-image: url(../images/brushes.png);
    background-color: #f9f9f9;
    margin-left: 64px;
    background-size: 63px;
}

.iodine-valve {
    margin-top: 7px;
}

.iodine-valve-icon {
    background-image: url(../images/spray.png);
    margin-left: calc(28% + 231px);
    background-size: 46px;
}

.atention-active {
    visibility: visible;
}

.sampler {
    background-image: url(../images/tab-sampler.png);
    background-size: 14px;

}

.sampler-status {
    display: flex;
    justify-content: start;
    margin-top: 5px;
}

.sampler-status-text {
    font-size: 20px;
    width: 262px;
    text-align: center;
    margin-top: 15px;
}

.sampler-status-icon {
    display: block;
    width: 75px;
    height: 75px;
    background-repeat: no-repeat;
    background-size: 60px;
    background-position: center;
    border: solid #0068a7;
    border-radius: 5px;
    background-color: #FFF;
}

.sampler-status-play {
    background-image: url(../images/mode-play.png);
    display: none;
}

.sampler-status-stop {
    background-image: url(../images/mode-stop.png);
    display: none;
}

.sampler-status-active {
    display: block;
}

.sampler-frame {
    display: flex;
    justify-content: start;
    align-items: flex-start;
    padding-bottom: 5px;
    margin-top: 23px;
}

.sampler-frame-text,
.bottle-number-text,
.last-bottle-number-text {
    margin-top: 12px;
    font-size: 20px;
    width: 262px;
    text-align: center;
}

.sampler-frame-button,
.bottle-number-button,
.last-bottle-number-button {
    display: block;
    width: 120px;
    height: 43px;
    background-size: 60px;
    border: solid #0068a7;
    border-radius: 5px;
    background-color: #FFF;
    font-size: 20px;
    text-align: center;
    padding-top: 2px;
}

.bottle-number {
    display: flex;
    justify-content: start;
    margin-top: 37px;
}

.bottle-number-text {
    margin-top: 0px;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 2px;
}

.last-bottle-number {
    margin-top: 33px;
    display: flex;
    justify-content: start;
}

.last-bottle-number-text {
    margin-top: 0px;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 15px;
}

.language {
    display: flex;
    justify-content: flex-start;
}

.language-icon {
    display: block;
    width: 75px;
    height: 75px;
    background-repeat: no-repeat;
    background-size: 60px;
    background-position: center;
    border: solid #0068a7;
    border-radius: 5px;
    background-color: #FFF;
    background-image: url(../images/language.png);
}

.select-language {
    width: 90%;
}

#language {
  width: 100%;
  height: 34px;
  line-height: 30px;
  margin-left: 10px;
}

.milking-setting {
    background-image: url(../images/arm.png);
    background-size: 35px;
}

.touchscreen-setting {
    background-image: url(../images/tab-touchscreen.png);
    background-size: 35px;
}

.scheme {
    background-image: url(../images/tab-input-outputtest.png);
    background-size: 30px;
}

.calibration {
    background-image: url(../images/tab-global-setting.png);
    background-size: 35px;
}

.version {
    background-image: url(../images/tab-version.png);
    background-size: 35px;
}

.global-setting {
    background-image: url(../images/tab-calibration.png);
    background-size: 35px;
}

.side-bar {
    width: 78px;
}

.side-bar-button:first-child {
    margin-top: 7px;
}

.side-bar-button:not(:first-child) {
    margin-top: 5px;
}

.side-bar-button:hover {
    cursor: pointer;
}

.mode-select-button {
    display: none;
}

.mode-stop {
    background-image: url(../images/mode-stop.png);
}

.mode-pause {
    background-image: url(../images/mode-pause.png);
}

.mode-play {
    background-image: url(../images/mode-play.png);
}

.mode-active {
    display: block;
}

.alarm-button {
    background-size: 55px;
    background-image: url(../images/alarm.png);
}

.low-alarm {
    background-color: #e2ff3b;
}

.medium-alarm {
    background-color: #ffa500;
}

.fatal-alarm {
    background-color: #ff1616;
}

.button-close-cow-exit {
    background-image: url(../images/button-close-cow-exit.png);
}

.exit-is-close {
    background-color: #7fb4d4;
}

.button-feed {
    background-size: 51px;
    background-image: url(../images/button-feed.png);
}

.button-skip {
    background-image: url(../images/button-separate-animal.png);
    background-size: 41px;
}

.skip-is-active {
    background-color: #7fb4d4;
}

.milk-action-select-button {
    background-size: 60px;
}

.button-open-cell {
    background-image: url(../images/button-open-cell.png);
    background-size: 60px;
}

.button-milk-action-select {
    background-image: url(../images/button-milk-action-select.png);
}

.milk-action-select-list {
    display: none;
}

.sampler .untab_active {
    background-size: 100px;
}

.untab_active {
    margin-left: 3px;
    width: 82px;
    height: 80px;
    box-sizing: border-box;
    background-color: white;
    background-size: contain;
    background-origin: content-box;
    padding: 7px;
    padding-left: 9px;

}

.input-button {
    font-family: Cera-regular;
}