@font-face {
    font-family: Cera-light;
    src: url(../fonts/CeraPro-Light.ttf);
    font-style: normal;
}

@font-face {
    font-family: Cera-regular;
    src: url(../fonts/CeraPro-Regular.ttf);
    font-style: normal;
  }
  
  @font-face {
    font-family: Cera-bold;
    src: url(../fonts/CeraPro-Bold.ttf);
    font-style: normal;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ag-header-cell-label {
    justify-content: center;
    text-align: center!important;
 }

html {
    height: calc(100% - 4px);
}

body {
    height: calc(100%);
    font-family: Cera-regular;
}

.header {
    border: solid #0068a7;
    border-radius: 5px;
    height: 85px;
    margin: 2px 4px 0px 2px;
}

.header-conteiner {
    padding: 3px 9px 3px 9px;
    display: flex;
    justify-content: space-between;
}

.header-information {
    display: flex;
}

.system-condition {
    margin-top: 3.5px;
    background-image: url(../images/status-wait-for-cow.png);
    width: 72px;
    height: 72px;
    background-repeat: no-repeat;
    background-size: 72px;
    background-position: center;
}

.cow-count {
    background-image: url(../images/cow-id.png);
    margin-top: 5px;
    margin-right: 15px;
    margin-left: 19px;
    width: 70px;
    height: 70px;
    background-repeat: no-repeat;
    background-size: 70px;
    background-position: center;
}

.header-icon {
    display: block;
}

.milk-amount {
    background-image: url(../images/milk-amount.png);
    margin-top: 15px;
    background-size: 28px auto;
    width: 50px;
    height: 50px;
    margin-left: 1px;
    background-repeat: no-repeat;
    background-position: center;
}

.cow-amount {
    display: flex;
}

.cow-count-value {
    letter-spacing: 1px;
    margin-top: 22px;
    font-size: 35px;
}

.milk-control {
    margin-left: 29px;
    display: flex;
    flex-direction: row;
}

.milk-indication {
    margin-top: 23px;
    font-size: 35px;
}

.timer {
    display: flex;
    margin-left: 40px;
}

.timer-icon {
    background-image: url(../images/timer.png);
    margin-top: 19px;
    background-size: 39px auto;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center;
}

.timer-count {
    margin-top: 23px;
    margin-left: 3px;
    font-size: 35px;
}

.logo-container {
    align-self: flex-end;
}

.logo-icon {
    display: block;
    width: 160px;
    height: 70px;
    background-repeat: no-repeat;
    background-size: 160px 70px;
    background-position: center;
    background-image: url(../svg/logo.svg);
}

.monitor {
    width: 100%;
    display: flex;
    height: calc(100% - 85px);
}

.main {
    margin: 0px 4px 2px 2px;
    width: calc(100% - 84px);
    border-radius: 5px;
}

.tabs {
    height: 100%;
}

.untabs {
    height: calc(100% + 2px);
    border: #ff1616;
}

.tab {
    background-color: #e2ff3b;
    border-radius: 5px 5px 0 0;
    cursor: pointer;
    background-color: #7fb4d4;
    position: relative;
    border-width: 2px 2px 0;
    text-align: center;
    display: block;
    width: 90px;
    height: 87px;
    background-repeat: no-repeat;
    background-size: 50px;
    background-position: center;
    border: solid #0068a7;
    top: 3px;
}

.untab {
    background-origin: padding-box;
    padding: 10px;
    border-radius: 5px 0 0 5px;
    cursor: pointer;
    background-color: #7fb4d4;
    position: relative;
    border-width: 2px 0 2px 2px;
    text-align: center;
    display: block;
    width: 85px;
    height: 80px;
    background-repeat: no-repeat;
    background-size: 45px;
    background-position: center;
    border: solid #0068a7;
    top: 2px;
    right: 1px;
}

.tab:not(:last-child) {
    margin-right: 4px;
}

.untab:not(:last-child) {
    margin-bottom: 4px;
}

.side-bar {
    width: 80px;
}

.side-bar-button, .button {
    display: block;
    width: 75px;
    height: 75px;
    background-repeat: no-repeat;
    background-size: 59px;
    background-position: center;
    background-color: white;
    border: solid #0068a7;
    border-radius: 5px;
    margin-left: 1px;
}

.side-bar-button:first-child {
    margin-top: 7px;
}

.side-bar-button:not(:first-child) {
    margin-top: 5px;
}

.mode-select-button {
    display: none;
}

.green {
    fill:rgb(36, 211, 12);
}

.milk-action-select-button {
    display: none;
}

.side-bar-button:hover {
    cursor: pointer;
}

.home-page {
    background-image: url(../images/tab-home-page.png);
}

.info-page {
    background-image: url(../images/tab-statistic-page.png);
}

.control-page {
    background-image: url(../images/tab-control-page.png);
}

.setting-page {
    background-image: url(../images/tab-setting-page.png);
}

.milk-yield-statistics {
    background-image: url(../images/tab-milk_yield_statistics.png);
}

.cleaning-statustics {
    background-image: url(../images/tap-cleaning.png);
}

.alarm-statistics {
    background-image: url(../images/alarm.png);
}

.motor-statistics {
    background-image: url(../svg/MOTOR-NEED-CHECK.svg);
}

.cleaning-control {
    background-image: url(../images/tap-cleaning.png);
}

.sampler {
    background-image: url(../images/tab-sampler.png);
    background-size: 15px;
    
}

.milking-setting {
    background-image: url(../images/arm.png);
}

.touchscreen-setting {
    background-image: url(../images/tab-touchscreen.png);
}

.scheme {
    background-image: url(../images/tab-input-outputtest.png);
}

.calibration {
    background-image: url(../images/tab-global-setting.png);
}

.version {
    background-image: url(../images/tab-version.png);
}

.global-setting {
    background-image: url(../images/tab-calibration.png);
}

.mode-stop {
    background-image: url(../images/mode-stop.png);
}

.mode-pause {
    background-image: url(../images/mode-pause.png);
}

.mode-play {
    background-image: url(../images/mode-play.png);
}

.alarm-button {
    background-size: 55px;
    background-image: url(../images/alarm.png);
}

.low-alarm {
    background-color: #e2ff3b;
}

.medium-alarm {
    background-color: #ffa500;
}

.fatal-alarm {
    background-color: #ff1616;
}

.button-close-cow-exit {
    background-image: url(../images/button-close-cow-exit.png);
}

.exit-is-close {
    background-color: #7fb4d4;
}

.mode-active {
    display: block;
}

.milk-action-active {
    display: block;
}

.button-feed {
    background-image: url(../images/button-feed.png);
}

.button-skip {
    background-image: url(../images/button-separate-animal.png);
}

.skip-is-active {
    background-color: #7fb4d4;
}

.button-milk-action-select {
    background-image: url(../images/button-milk-action-select.png);
}

.button-open-cell {
    background-image: url(../images/button-open-cell.png);
}

.milk-action-select-list {
    display: none;
}

.tab_bar {
    margin-top: -1px ;
    display: flex;
    justify-content: space-between;
}

.time {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 20px;
    font-size: 50px;
}

.tab__navigation {
    display: flex;
    align-items: center;
    position: relative;
}

.untab__navigation {
    align-items: center;
    float: left;
    display: block;
}

.tab_active {
    background-color: white;
    background-size: 65px;
    background-position: 50% 57%;
}

.untab_active {
    margin-left: 3px;
    width: 82px;
    height: 80px;
    box-sizing: border-box;
    background-color: white;
    background-size: contain;
    background-origin: content-box;
    padding: 7px;
    
}

.tab__content {
    border: solid #0068a7;
    height: calc(100% - 87px);
    border-radius: 0 5px 5px 5px;
    display: none;
    padding-top: 1px;
    padding-left: 3px;
    padding-right: 3px;
    padding-bottom: 3px;
}

.tab__content_active {
    display: block;
}

.untab__content {
    background-color: #e2ff3b;
    overflow: hidden;
    border: solid #0068a7;
    height: 100%;
    border-radius: 0 5px 5px 5px;
    position: relative;
    top: 2px;
    display: none;
}

.untab__content_active {
    display: block;
}

.tab_active:after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
    height: 5px;
    background: #FFF;
}

.untab_active:after {
    position: absolute;
    content: '';
    top: 0;
    right: -3px;
    bottom: 0;
    width: 4px;
    background: #FFF;
    z-index: 1;
}

.new-alarm {
    display: flex;
    align-items: flex-end;
}

.list-of-alarm {
    display: flex;
    align-items: flex-end;
    height: calc(100% - 178px);
    margin-top: 13px;
}

.filter-alarm, .stop-alarm {
    margin-left: 12px;
    margin-bottom: 2px;
}

.filter-alarm {
    background-image: url(../images/filter.png);
}

.stop-alarm {
    background-image: url(../images/button-clear-alarm.png);
}

.sampler .untab_active {
    background-size: 100px;
}